@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (max-width:768px) {
	body {
		font-size: 12px;
	}
}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (min-width: 1440px) {

}
@media only screen and (min-width: 1620px) {
}
@media only screen and (max-height: 700px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
