.u-left { float: left; }
.u-right { float: right; }

.u-inner {
  position: relative;
  max-width: var(--content-width);
  margin: auto;
}

.u-inner-middle { top: center; }

.u-first-letter {
  font-weight: bold;
  font-size: 1.7em;
}

.u-filter--blur { filter: blur(4px); }
.u-filter--sepia { filter: sepia(.8); }

.u-center-vertical {
  top: center;
  left: 0;
  width: 100%;
}

.u-text-center { text-align: center; }
.u-text-right { text-align: right; }
.u-text-left { text-align: left; }

.u-grid-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.u-text-underline { text-decoration: underline; }
.u-text-large { font-size: 1.167rem; }
.u-italic { font-style: italic; }

.u-text-larger {
  margin-bottom: 1.5rem;
  font-size: 3.200rem;
  line-height: 1.125;
}

.u-weak { opacity: 0.6; }

.u-col2 {
  float: left;
  width: 50%;
}

.u-no-pad { padding: 0 !important; }
.u-mt0 { margin-top: 0 !important; }
.u-mt8 { margin-top: 8px !important; }
.u-mt16 { margin-top: 16px !important; }
.u-mt32 { margin-top: 32px !important; }
.u-mb32 { margin-bottom: 32px !important; }
.u-mb54 { margin-bottom: 54px !important; }

.u-flex { display: flex; }
.u-flex { flex-wrap: wrap; }
.u-flex-end { align-items: flex-end; }
.u-flex-center { align-items: center; }
.u-space-between { justify-content: space-between; }
.u-space-around { justify-content: space-around; }

.u-list-item-2 li { flex-basis: 50%; }
.u-list-item-3 li { flex-basis: 33.333%; }
.u-list-item-4 li { flex-basis: 25%; }
.u-list-item-5 li { flex-basis: 20%; }

.u-list {
  padding: 0 var(--content-space);
  text-align: left;

  li {
    margin-bottom: 0.666rem;

    &::before {
      content: "\e250";
      display: inline;
      margin-right: 8px;
      border-radius: 0;
      font-family: Glyphicons Halflings;
      color: var(--colour-red);
      font-size: 0.8rem;
      background-color: transparent;
    }
  }
}

.u-clear {
  * zoom: 1;

  &::before {
    content: ' ';
    display: table;
  }

  &:after {
    content: ' ';
    display: table;
    clear:both;
  }
}

