.util-control {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 40px;
  background-color: #fff;
  z-index: 999;
  color: #000;
  text-align: center;

  input,
  label { cursor: pointer !important; }

  &__title {
    margin-right: 12px;
  }
}

.util-grids {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: space-between;
  width: 1280px;
  height: 100%;

  &.is-active { display: flex; }

  .grid {
    width: 64px;
    height: 100%;
    background-color: #FD6697;
    opacity: 0.2;
  }
}