:root {
  /*
   * Paths
   * ======================================================================== */
  --path-image: '/assets/images';

  /*
   * Layout
   * ======================================================================== */
  --content-width: 1280px;
  --content-space: 13.8rem;
  --link-space: 1rem;
  --gutter-space: 3rem;
  --grid-space: 7rem;
  --header-height: 4.5rem;
  --space-largest: 13.666rem;
  --space-larger: 10rem;
  --space-large: 7.5rem;
  --space-medium: 5rem;

  /*
   * Typography
   * ======================================================================== */
  --font-main: "Akkurat", 'Arial', "Helvetica Neue Roman", "Helvetica Neue", "Helvetica", sans-serif;
  --font-head: "Nocturne Serif", "Optima", "Baskerville Old Face", "Baskerville", serif;
  --fsize-large: 3.25rem;
  --fsize-small: 0.875rem;
  --fsize-smaller: 0.8125rem;
  --fsize-smallest: 0.775rem;

  /*
   * Media queries breakpoints
   * ======================================================================== */
  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 992px;  /* Small screen / tablet */
  --screen-md-min: 1280px;  /* Medium screen / desktop */
  --screen-mc-min: 1440px;  /* Macbook screen / desktop */
  --screen-lg-min: 1920px; /* Large screen / wide desktop */

  /*
   * Colours
   * ======================================================================== */
  --colour-font: #cfcfcf;
  --colour-main: #ffffff;
  --colour-sub: #c1be51;
  --colour-grey-deep: #2E2E2E;
  --colour-grey: #898989;
  --colour-grey-light: #dbdbdb;
  --colour-grey-lightest: #eee;
  --colour-bg: #000000;
  --colour-border: #333333;
  --colour-blue: #6EB0EF;
  --colour-blue-deep: #3575EF;
  --colour-red: #ec4747;
  --colour-red-light: #ff6262;
  --colour-red-deep: #da1c1c;

  /*
   * Transitions
   * ======================================================================== */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  /*
   * shadows
   * ======================================================================== */
  --box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
