_data
_data/*
*.log
.DS_Store
phpcs*.tmp
*.swp
.sass-cache
.sass-cache/*
node_modules
bower_components
*.sublime-project
*.sublime-workspace
.idea
packag-lock.json

.tmp
.tmp/*
html/upload/*
html/upload

*.sublime-project
*.sublime-workspace
.sublime-gulp.cache

tool
tool/*

backup
backup/*

design
design/*

src/assets/js/config.js