_data
_data/*
*.log
.DS_Store
phpcs*.tmp
*.swp
.sass-cache
.sass-cache/*
node_modules
*.sublime-project
*.sublime-workspace
.idea
packag-lock.json
yarn.lock
yarn-error.log

.tmp
.tmp/*
#	build/*

*.sublime-project
*.sublime-workspace
