.about {
  position: relative;
  width: 100%;

  &__inner {
    position: relative;
    /* padding: 0 7rem; */
  }

  &__title {
    position: relative;

    p {
      position: relative;
      z-index: 2;
      &:nth-child(2) { padding-left: 1.9em; }
    }
  }

  &__desc {
    position: relative;
    width: 24.4375rem;
    margin: 0;
    margin-left: 13.8rem;
    padding-top: var(--space-medium);
    z-index: 2;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0;
      padding: 2rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: -13.8rem;
    width: 100%;
    filter: grayscale(1) contrast(1.05);
    z-index: -1;

    img { width: 100%; }
  }

/*  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 var(--content-space);
    text-align: center;

    img { width: 100%; }
  }*/

  &__button-container {
    margin-top: 3.5rem;
    text-align: right;
  }

  &__button {
    position: relative;
    display: inline-block;
    margin-right: 8.3rem;
    text-transform: uppercase;
    font-size: var(--fsize-smaller);
    font-weight: 800;
  }
}

.service-list {
  &__title {
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
    /*padding-right: 2.5rem;*/
    text-align: center;

    @media (max-width: 768px) {
      .splited--space {
        display: block;
      }
    }

    /*p {
      &:nth-child(1) { padding-right: 9.3rem; }
      &:nth-child(3) { padding-right: 5.8rem; }
    }*/
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100% + var(--content-space--mobile));
      margin-left: -calc(var(--content-space--mobile) / 2);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    padding: 0;
    background-size: cover;
    color: var(--colour-main);
    overflow: hidden;
    transform-origin: top;

    @media (max-width: 768px) {
      width: calc(33.333% - var(--content-space--mobile));
      padding: 0.5rem;
      border: 1px solid;
      margin: 1rem;
    }
  }
}
