.contact {
  position: relative;
  padding: 9.999rem 0 0;

  &__title {
    @mixin font-size 96;

    width: 60%;
    font-family: $font-sub;
    line-height: 1.125;
    text-transform: uppercase;

    @mixin breakpoint phone {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @mixin breakpoint phone {
      flex-direction: column-reverse;
    }
  }

  &__info {
    @mixin breakpoint phone {
      width: 100%;
      margin-top: 2rem;
    }
  }

  &__list-head {
    @mixin font-size 26;

    text-transform: uppercase;
  }

  &__list-desc {
    @mixin font-size 20;

    margin-top: 0.333rem;
    margin-bottom: 1.333rem;
    font-style: italic;

    .email-link {
      position: relative;
      transition: color 0.6s ease-out-circ;

      &:hover {
        color: $colour-sub;
        opacity: 1;

        &::before {
          background-color: $colour-sub;
        }
      }

      &::before {
        @mixin pseudo 100%, 0.1rem;

        bottom: -0.125rem;
        left: 0;
        background-color: $colour-main;
        transition: background 0.6s ease-out-circ;
      }
    }

    .icon {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &__form {
    width: 40%;
    margin-right: 10%;
    margin-top: -3rem;

    @mixin breakpoint phone {
      width: 100%;
      margin: 0;
    }
  }
}
