.services-intro {
  position: relative;

  /*&__titles {
    margin-left: -var(--grid-space);
  }*/

  &__title {
    text-transform: uppercase;
    line-height: 1.4;
  }

  &__subtitle {
    margin-bottom: 6rem;
    font-size: var(--fsize-medium);
  }

  &__text {
    width: 38.6rem;
    margin-right: -6.8rem;
    margin-left: auto;
  }

  &__image {
    position: absolute;
    top: 16.6rem;
    left: -calc(var(--grid-space) * 2);
    width: calc(54.4% + 3.333rem);
    margin-left: 0;

    img {
      width: 120%;
      margin-left: -20%;
    }
  }

  &__inner {
    strong {
      font-family: var(--font-head);
      color: #fff;
      letter-spacing: 0.125rem;
    }
  }
}

.services-middle {
  position: relative;
  height: 30rem;
  margin-bottom: 5rem;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 26rem;
    margin: auto;
    transform: translateY(50%);
    filter: grayscale(1);

    img { width: 100%; }
  }
}

.services-outro {
  position: relative;
  padding-top: 0;

  &__image {
    position: absolute;
    top: 0;
    left: -calc(var(--grid-space) * 2);
    width: 10rem;
    opacity: 0.4;

    img { width: 100%; }
  }

  &__title {
    margin-bottom: 5rem;
    font-size: var(--fsize-large);
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__text {
    width: 31.7rem;
    margin-left: 4rem;
  }

  &__desc {
    position: absolute;
    top: 16rem;
    right: -8.8rem;
    width: 19rem;
  }

  &__subtitle {
    font-size: var(--fsize-medium);
    letter-spacing: 0.25rem;
    line-height: 1.4;

    span {
      font-size: 0.85em;
    }
  }
}

.services-map {
  width: 38.6rem;
  margin: 10rem 0 0;

  &__list {

  }

  &__item {
    margin-bottom: var(--grid-space);
  
    &:first-child {
      padding: 0 var(--gutter-space);
      padding-left: var(--grid-space);
    }

    &:nth-child(2) {
      text-align: right;
      padding: 0 var(--gutter-space);
      padding-left: 10.9rem;
    }

    &:nth-child(3) {
      padding: 0 11.1rem;
      padding-right: var(--grid-space);
    }

    &:nth-child(4) {
      width: calc(100% + var(--grid-space));
      padding-left: var(--grid-space);
    }

    &:nth-child(5) {
      margin-bottom: 3.5rem;
      padding-left: 14rem;
      text-align: right;
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    font-size: var(--fsize-medium);
    letter-spacing: 0.25rem;
  }
}

