.top {
  width: 100%;
  text-align: center;

/*  &__title {
    position: absolute;
    bottom: -6.666rem;
    right: -6.666rem;
    width: 44rem;
    opacity: 0;
    transform: translateY(10vh);
    transition: transform 1.4s ease-in-out-circ, opacity 1.4s ease-in-out-circ;
    transition-delay: 1.2s;
    overflow: hidden;

    @mixin breakpoint phone {
      width: 100%;
      margin: auto;
      margin-top: 4rem;
      overflow: initial;
    }

    body.load-completed & {
      opacity: 1;
      transform: translateY(0);

      .st0 {
        transform: rotate(0);
      }
    }

    svg {
      width: 100%;
      height: auto;
      opacity: 0.2;

      @mixin breakpoint phone {
        transform: scale(1.4);
        opacity: 0.2;
      }
    }

    path {
      transform-origin: center;
      transition: transform 0.4s ease;
      transition-delay: 3.2s;
    }

    .st0 {
      transform: rotate(-10deg) scale(0.9);

      &:last-child {
        transform: rotate(33deg) scale(0.9);
      }
    }
  }*/

  &__svg {
    width: 0;
    height: 0;
    overflow: hidden;

    @mixin hide;
  }

  &__title {
    @mixin font-size 96;

    width: 80%;
    margin: auto;
    margin-top: 3.333rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    opacity: 0;
    transform: translateY(10vh);
    transition: transform 1.4s ease-in-out-circ, opacity 1.4s ease-in-out-circ;
    transition-delay: 1.2s;

    @mixin breakpoint phone {
      top: 18%;
      width: 100%;
      padding: 0 2rem;
      margin-top: 1rem;
      font-size: 4rem;
      text-align: center;
    }

    body.load-completed & {
      opacity: 1;
      transform: translateY(0);
    }

    strong {
      @mixin font-size 120;
    }
  }

  &__desc {
    @mixin font-size 28;

    opacity: 0;
    transform: translateY(10vh);
    transition: transform 1.4s ease-in-out-circ, opacity 1.4s ease-in-out-circ;
    transition-delay: 1.4s;

    body.load-completed & {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__shape {
    position: fixed;
    bottom: -16.666rem;
    right: -9.999rem;
    width: 44rem;
    margin: 0;
    font-size: 44rem;
    line-height: 1;
    opacity: 0;
    transition: opacity 1.4s ease-in-out-circ;
    transition-delay: 1.2s;

    body.load-completed & {
      opacity: 0.2;
    }
  }
}
