{% block pageid %}is-about{% endblock %}
{% block title %}About{% endblock %}
{% block loading %}{% endblock %}

{% extends 'layout/_layout.html' %}

{% block content %}

<main class="main main--about clear" id="main" role="main" data-page="About">
  <article class="content content--about" id="content" data-component="About">
    <section class="section section--about">
      <div class="about clear">
        <div class="about__head">
          <h3 class="about__title">Idea dispatch<br>from here</h3>
          <p class="about__subtitle">Our services</p>
        </div>

        <div class="about__inner">
          <div class="about__image">
            <img src="/assets/images/about/image1.png" alt="SERVICES">
          </div>

          <div class="about__desc">
            <div class="about__desc-inner">           
              <p>We focus on branding design including both web and graphic. We shall take hands to make good brand plans and set a goal together.</p>
              <p><strong class="u-italic">Make new paradigm</strong></p>
              <p>If you are a start-up, we can start with creating a logo and business card. Further more, we make original mug cups or stationaries. We’ll be your brilliant company to set up an unique and fun brand together.</p>
            </div>

            <div class="about__desc-inner">           
              <p>Have you got so many brilliant ideas, but don’t know how to experess them effectively?</p>
              <p><strong class="u-italic">Let’s crack on then accelerate it.</strong></p>
              <p>We can help you to set the ideas to be ready and make a brilliant kick-off. There are several ways to achieve a goal and we adjust the process depending on what/how you need. Let’s have a talk about how we can improve your brand using the following 6 fundamental ways of enhancement.</p>
            </div>
          </div>
        </div>


        <div class="about__ways">
          <img src="/assets/images/about/six-ways.png" alt="the six ways" data-animation="fadeUp">
        </div>
      </div>

      <div class="about-detail">
        <div class="about-detail__storyline js-storyline"></div>
        <div class="about-detail__inner clear">        
          <div class="about-detail__head">
            <div class="about-detail__image">
              <img src="/assets/images/about/image2.png" alt="We can boost your business">
            </div>        
            <h3 class="about-detail__title" data-animation="fadeUp">We can boost<br><small class="u-text-small">your business</small></h3>

            <div class="about-detail__text" data-animation="fadeUp">
              <p>Have a look at the 6 ways of boost. We’ve been involved in designing brands and creating identities.<br>We do not work within boundaries and the more you share your ideas with us, the more effective we can be.</p>
              <p>When we say we’re a full branding/design service agency, we mean it. Even if you need the thing which is not on the list, let’s talk about it first.</p>
            </div>
          </div>

          <div class="about-detail__item" data-animation="fadeLeft">
            <h5 class="about-detail__item-title"><strong>Branding</strong> Design</h5>
            <div class="about-detail__desc">
              <p>Produce and deliver exceptional branding tools from the beginning to the end that are tailored to your company's brand guidelines</p>
              <p>Provide the brand guidelines that define the set of standards for your business which will help you to figure out what your brand really is and how you can improve it in the future.</p>
            </div>
          </div>
          <div class="about-detail__thumbnail">
            <img src="/assets/images/about/image3.png" alt="We can boost your business">
          </div>
        </div>


        <div class="about-list">
          <div class="about-list__item" data-animation="fadeUp">
            <h4 class="about-list__title">Web design</h4>
            <p class="about-list__desc">Specialise unique design and well-constructed, creative web animations</p>
          </div>

          <div class="about-list__item" data-animation="fadeUp">
            <h4 class="about-list__title">Print media</h4>
            <p class="about-list__desc">Business cards, brochures, flyers and your coffee mug - We produce conceptually unique products to help enhancing your brand identity</p>
          </div>

          <div class="about-list__item" data-animation="fadeUp">
            <h4 class="about-list__title">Web development</h4>
            <p class="about-list__desc">Build easy-to-use interfaces and high-performance responsive, interactive websites</p>
          </div>

          <div class="about-list__item" data-animation="fadeUp">
            <h4 class="about-list__title">CMS &amp; E-commerce</h4>
            <p class="about-list__desc">Provide you easy-to-use CMS such as WordPress and Magento to improve your business methods with a continuous management support</p>
          </div>

          <div class="about-list__item" data-animation="fadeUp">
            <h4 class="about-list__title">SEO</h4>
            <p class="about-list__desc">Work closely with your team to help achieving your visions and provide site optimisations using analytics to boost the business even more</p>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

{% endblock %}

{% block scripts %} 
{% endblock %}