<section class="section section--contact contact js-section" id="contact">
  <span class="line line--horizontal line--contact" data-animation="growX"></span>
  <h2 class="contact__title js-title" data-animation="splitText" data-timing="0.8">
    <p>Let’s</p><p>Have a</p><p>chat.</p>
    <span class="circle circle--contact"></span>
  </h2>

  <div class="contact__inner" data-animation="grow">
    <div class="contact__form">
      <form action="" class="form">
        <p>
          <input type="text" placeholder="Your Name *">
        </p>
        <p>
          <input type="email" placeholder="Your Email *">
        </p>
        <p>
          Tell us about your project<br>
          <textarea name="" id="" cols="30" rows="6" ></textarea>
        </p>
        <p class="u-text-right">
          <button class="form__submit js-form-submit js-button-standard">
            <span class="button-inner">
              <span class="circle circle--small circle--form"></span>
              <span>Send</span>
            </span>
          </button>
        </p>
      </form>
    </div> 
    <div class="contact__details">
      <div class="contact__address">
        <h4>Our Office</h4>
        <p>02-547<br>Lewicka 17/8<br>Warsaw, Poland</p>
      </div>
      <div class="contact__address">
        <h4>Email</h4>
        <a class="js-button-light" href="">info@c-is.co</a>
      </div>
    </div>
  </div>
</section>