{% block pageid %}home{% endblock %}
{% block title %}home{% endblock %}

{% extends 'layout/_layout.html' %}

{% set id = "home" %}

{% block content %}
<main class="main main--home" id="main" role="main" data-page="Home" data-namespace="home">
  <article class="content content--home">
    <section class="section section--hero hero js-hero">
      <div class="hero__inner">
        <h1 class="hero__title js-title" data-animation="splitText" data-timing="0.8" data-delay="0.8">
          <p>C is the heavenly option.</p>
        </h1>
      </div>
      <div class="hero__video js-home-video">
        <video class="js-preload" src="{{ root_path }}/assets/videos/hero.mp4" autoplay muted loop></video>
      </div>
      <div class="hero__menu" data-animation="fadeUp" data-delay="1" data-timing="1.6">
        <p class="hero__description">We create<br>design + websites</p>
        <a class="hero__button js-button-standard js-ajax-trigger" href="/work">
          <span class="button-inner">
            <span class="circle circle--small circle--hero"></span>
            <span>See works</span>
          </span>
        </a>
      </div>
    </section>


    <section class="section section--about about js-section">
<!--       <div class="about__image">
        <img class="js-preload" src="{{ image_path }}/about-image.jpg" alt="about">
      </div> -->

      <div class="about__inner">      
        <h2 class="about__title js-title" data-animation="splitText" data-timing="0.8">
          <p>We are</p><p>the</p><p>storytellers.</p>
          <span class="circle circle--about"></span>
        </h2>

        <!-- <span class="line line--about" data-animation="grow"></span> -->

        <p class="about__desc" data-animation="fadeRight" data-timing="1.2" data-delay="0.8">
          Since we’ve been creating the finest stories as much as we can do, we are assured that you’ ll have a great piece that everyone in the world would be content. We create cherished and intuitive websites that people love to use.
        </p>

        <div class="about__image" data-parallax="125">
          <img class="js-preload" src="{{ image_path }}/about-image.jpg" alt="about">
        </div>
      </div>
    </section>

    <section class="section section--service-list service-list js-section">
      <h2 class="service-list__title js-title" data-animation="splitText" data-timing="0.8">
        <p>Best services, innit.</p>
        <!-- <p>Best</p><p>services,</p><p>innit.</p> -->
        <!-- <span class="circle circle--service"></span> -->
      </h2>

      <ul class="service-list__inner">
        <li class="service-list__item" data-animation="grow">Branding</li>
        <li class="service-list__item" data-animation="grow">Web design</li>
        <li class="service-list__item" data-animation="grow">Web development</li>
        <li class="service-list__item" data-animation="grow">CMS &<br>E-commerce</li>
        <li class="service-list__item" data-animation="grow">SEO</li>
      </ul>

      <div class="about__button-container">
        <a class="about__button js-button-standard js-ajax-trigger" href="/services">
          <span class="button-inner">
            <span class="circle circle--small circle--about-service"></span>
            <span>See service details</span>
          </span>
        </a>
      </div>

      <!-- <span class="line line--service" data-animation="grow"></span> -->
    </section>


    <section class="section section--lead lead js-section">
      <div class="lead__inner">      
        <div class="lead__shape">
          <img src="{{ image_path }}/about-image2.jpg" alt="" class="lead__overlay-image js-preload" data-parallax="125">
          {% include 'svgs/logo.svg' %}
        </div>

        <div class="lead__image" data-parallax="400">
          <img class="js-preload" src="{{ image_path }}/home-image.jpg" alt="Lead">
        </div>

        <span class="line line--lead" data-animation="grow"></span>

        <div class="lead__text">        
          <h2 class="lead__title js-title" data-animation="splitText" data-timing="0.8">
            <p>is</p><p>anything you could</p><p>imagine.</p>
          </h2>

          <p class="lead__desc" data-animation="fadeRight" data-timing="1.2" data-delay="0.8">
            We’ve got so many memories that relate with C. These Cs start at one point, pieces of them branch into many directions throughout the process and gather again at the end point. It means we can create various designs in many ways, but in the end, our core is always there. Even there are variations in our process, the beginning and end are always fixed.
          </p>
        </div>
      </div>
    </section>

    <section class="section section--work work-home js-section">
      <h2 class="work-home__title js-title" data-animation="splitText" data-timing="0.8">
        <p>Our Work</p>
        <span class="circle circle--work-home"></span>
      </h2>

      <!-- <img class="work-home__accent-image js-preload" src="{{ image_path }}/accent-image.png" alt="" data-parallax="75"> -->

      <div class="work-home__inner" data-animation="fadeRight">  
        <div class="work-home__list js-button-arrows" data-component="Slider">
          <div class="work-home__item">
            <h3 class="work-home__name">ADK Recruit</h3>
            <a href="/single" class="work-home__link js-ajax-trigger js-button-standard u-grid-link"></a>
            <div class="work-home__image">
              <img class="js-preload" src="{{ image_path }}/work/adk.jpg" alt="">
            </div>
          </div>

          <div class="work-home__item">
            <h3 class="work-home__name">Yz Films</h3>
            <a href="/single" class="work-home__link js-ajax-trigger js-button-standard u-grid-link"></a>
            <div class="work-home__image">
              <img class="js-preload" src="{{ image_path }}/work/yzfilms.jpg" alt="">
            </div>
          </div>

          <div class="work-home__item is-active">
            <h3 class="work-home__name">Sun Platinum</h3>
            <a href="/single" class="work-home__link js-ajax-trigger js-button-standard u-grid-link"></a>
            <div class="work-home__image">
              <img class="js-preload" src="{{ image_path }}/work/sun-platinum.jpg" alt="">
            </div>
          </div>

          <div class="work-home__item">
            <h3 class="work-home__name">Yuko Fujisawa</h3>
            <a href="/single" class="work-home__link js-ajax-trigger js-button-standard u-grid-link"></a>
            <div class="work-home__image">
              <img class="js-preload" src="{{ image_path }}/work/yukofujisawa.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'components/_contact.html' %}


  </article>
</main>

{% endblock %}

{% block scripts %} 
{% endblock %}