.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.666rem;
  padding: 0 $wrapperSpace;
  z-index: 8;
  transform: translateY(-100%);
/*  transition: transform 1s ease-out-circ;
  transition-delay: 1.6s;*/

  /* @mixin fadeIn 0.6s, ease-in-out; */

  @mixin breakpoint phone {
    padding: 0 2rem;
  }

  /*body.load-completed & {
    transform: translateY(0);
  }*/

  &__title {
    text-align: center;
    font-family: $font-sub;
    height: 100%;
    line-height: 1.233;

    svg {
      width: 3.333rem;
      fill: $colour-main;
      transition: all 1.2s ease-out-circ;
    }

    &:hover {
      svg {
        transform: rotate(91deg);
        fill: $colour-sub;
      }
    }
  }
}

