{% block pageid %}is-article{% endblock %}
{% block title %}Y'z Films{% endblock %}
{% block loading %}{% endblock %}

{% extends 'layout/_layout.html' %}

{% block content %}

<main class="main main--article clear" id="main" role="main" data-page="Article">
  <article class="content content--article" id="content" data-component="Article">
    <section class="section section--article" data-template="Article">
    </section>
	</article>
</main>

{% endblock %}

{% block scripts %} 
{% endblock %}