/* Fonts */
$font-main: 'P22 Johnston Underground', 'Futura', 'Helvetica', sans-serif;
$font-sub: 'Baskerville Old Face', 'Baskerville', 'Times New Roman MT Std-Cond', 'Times New Roman', serif;
$font-head: 'Snell Roundhand', 'Futura', 'Helvetica', serif;

/* Colours */
$colour-main: #cee5c7;
$colour-sub: #e883cb;
$colour-sub2: #b0afaf;
$colour-bg: #f7f7f7;

/* Sizes */
$size-hd: 1600px;
$size-desktop: 1000px;
$size-tablet: 660px;
$size-phone: 659px;

$maxWidth: 1140px;
$wrapperSpace: 5.25rem;
$wrapperSpaceMoblie: 2rem;

$mod: 24px;
$gutter: 2 * $mod;
$footer-height: 2 * $mod;

$root: "/assets/images";

$elements: section, slider, hero, infobar, btn, header, footer, nav, side-panel, filter, menu, lightbox, cookies, loader, rotate-device, browsehappy;
